.calculator-body {
  margin: 100px auto auto;
  width: 375px;
  background: linear-gradient(180deg,#4ea4dc 51.6%,#081925 161.2%);
  border-radius: 20px;
}

.wrapper {
  margin: 65px 22px 22px;
}

.calculator-body, .wrapper {
  display: block;
  text-align: center;
}

.button_narrow, .button_plus, .calculator-body, .result, button {
  border-style: solid;
  border-color: #000;
}

.result {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  height: 75px;
  background: #dfe3d8;
  border-radius: 10px;
}

.result p {
  font-size: 40px;
  margin: 15px;
}

.output {
  font-size: 40px;
  margin: 15px;
}

.output {
  position: relative;
  width: 402px;
  height: 150px;
}


.btn_field {
  display: flex;
  text-align: center;
  margin: 20px;
}

.left_block {
  float: left;

}

.right_block {
  float: right;

}

.button_narrow {
  height: 40px;
}

Button {
  width: 72px;
  height: 50px;
  font-size: 24px;
  background: linear-gradient(0deg,#4ea4dc -547.1%,#2bafde 269.8%);
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  margin: 5px;
}

.button_plus {
  height: 110px;
  font-size: 26px;
  background: linear-gradient(0deg,#4ea4dc -547.1%,#2bafde 269.8%);
  color: #fff;
  border-radius: 10px;
}
